<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1002-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,2},{20,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,31}}</string>
                <key>sourceSize</key>
                <string>{20,31}</string>
            </dict>
            <key>1003-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,72},{26,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,47}}</string>
                <key>sourceSize</key>
                <string>{26,47}</string>
            </dict>
            <key>1004-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,100},{35,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,36}}</string>
                <key>sourceSize</key>
                <string>{35,36}</string>
            </dict>
            <key>1005-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,140},{32,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,40}}</string>
                <key>sourceSize</key>
                <string>{32,40}</string>
            </dict>
            <key>1006-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{34,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,38}}</string>
                <key>sourceSize</key>
                <string>{34,38}</string>
            </dict>
            <key>1007-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,138},{34,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,35}}</string>
                <key>sourceSize</key>
                <string>{34,35}</string>
            </dict>
            <key>1008-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,200},{34,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,37}}</string>
                <key>sourceSize</key>
                <string>{34,37}</string>
            </dict>
            <key>1009-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{33,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,40}}</string>
                <key>sourceSize</key>
                <string>{33,40}</string>
            </dict>
            <key>1010-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,161},{37,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,39}}</string>
                <key>sourceSize</key>
                <string>{37,39}</string>
            </dict>
            <key>1011-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,44},{42,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,57}}</string>
                <key>sourceSize</key>
                <string>{42,57}</string>
            </dict>
            <key>1012-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,100},{38,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,40}}</string>
                <key>sourceSize</key>
                <string>{38,40}</string>
            </dict>
            <key>1013-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{36,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,45}}</string>
                <key>sourceSize</key>
                <string>{36,45}</string>
            </dict>
            <key>1014-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,44},{26,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,48}}</string>
                <key>sourceSize</key>
                <string>{26,48}</string>
            </dict>
            <key>player.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{40,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,97}}</string>
                <key>sourceSize</key>
                <string>{40,97}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>item.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:92a046815d07c45f2f62bfd0b3e5324f:1/1$</string>
            <key>textureFileName</key>
            <string>item.png</string>
        </dict>
    </dict>
</plist>
